.mob-tittle{
	margin-top: 70px;
}
.meta-tittle {
  padding: 0.1px 10px;
  background: #555;
  color: #f1f1f1;
}
.container-left{
	width: 60%;
	margin-top: 0;
    margin-bottom: 1%;
    margin-left: 4%;
	margin-right: 0;
}
.container-right{
	position: fixed;
	right: 0;
	width: 30%;
	margin-top: 80px;
    margin-bottom: 1%;
    margin-right: 4%;
    margin-left: 2%;
}
.feedback-up, .feedback-down{
    font-size: 20px;
    padding-top: 10px;
}
.feedback-up{
    float: left;
}
.feedback-down{
    padding-left: 35px;
}
.feedback-up:hover{
    color: green;
}
.feedback-down:hover{
    color: red;
}
/*Ajustar para telas menores*/
@media (max-width: 1000px) {
    .container-left, .container-right{
        width: 100%;
		position: relative;
    }
}