<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobilizations</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Google-Style-Login.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-Payment-Form.css">
    <link rel="stylesheet" href="assets/css/Hero-Technology.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#"><strong>Mobilizations</strong> </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right"></ul>
            </div>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="row hidden"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="container">
                <h1 class="text-justify">Cadastre-se e participe de alguma meta de seu interesse.</h1></div>
        </div>
        <div class="col-md-5">
            <div class="container">
                <h4 class="text-right"><a href="#">Acesse a sua conta</a> </h4>
                <div class="col-md-12">
                    <h3>Registre-se</h3>
                    <p> </p>
                </div>
                <p> </p>
                <input class="input-sm" type="text">
                <input class="input-sm" type="text">
                <input class="input-sm" type="text">
                <input class="input-sm" type="text">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-default" type="button">Registre-se</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>